@charset "utf-8";
/* CSS Document */

/* Universal Selector */
* {
	margin: 0;
	padding: 0;
}

body {
	color: #636060;
	font: 12px/1.5 MicrosoftYahei;
}

.page {
	width: 100%;
}

.header {
	width: 100%;
}

.header_content {
	border: 1px solid red;
	margin: 0 auto;
	overflow: hidden;
	width: 1200px;
}

.header_content img {
	float: left;
	margin: 30px 0;
}

.header_content .title {
	float: left;
	font-size: 26px;
	margin: 35px 0 0 40px;
}

.main {
	width: 100%;
}

.main_content {
	border: 1px solid blue;
	height: 400px;
	margin: 0 auto;
	width: 1200px;
}

.footer {
	background: #ccc;
	width: 100%;
}

.footer_content {
	border: 1px solid green;
	height: 100px;
	margin: 0 auto;
	width: 1200px;
}
