@charset "utf-8";
/* CSS Document */

div {
	border: 1px solid red;
	display: inline-block;
	margin: 10px 0 0 20px;
	width: 100px;
}

input[type=button] {
	background: #e5e5e5;
	border: none;
	height: 46px;
	width: 120px;
}

input[type=submit] {
	background: #f0282c;
	border: none;
	color: #fff;
	height: 50px;
	width: 400px;
}

.li01 {
	border: 1px solid gray;
	height: 46px;
	margin: 0 0 30px;
	padding: 2px;
	width: 420px;
}

ul {
	list-style: none;
}
