@charset "utf-8";

/* CSS Document */

a {
	color: gray;
	font-size: 13px;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: underline;
}

li {
	float: left;
	font-size: 13px;
	margin-left: 15px;
}

ul {
	list-style: none;
}
